.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; // Adjust gap between cards as needed
  margin-bottom: 16px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin-bottom: 16px;

  .image {
    border-radius: 8px;
  }

  h3 {
    margin-top: 16px;
    font-size: 1.5rem;
  }

  p {
    margin-top: 8px;
    font-size: 1rem;
  }

  button {
    padding: 8px 16px;
    font-size: 1rem;
    margin-left: 0.5rem;
    background-color: #b4ecba;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #a7e0ba;
    }
  }
}
