.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 45px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    background: #f5f5f5;

    ::placeholder {
      color: #90a4ae;
    }
  }

  .btn {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px;
    background: #41c96e;
    color: #fafafa;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: #4caf50;
    }
  }
}
